*{ font-family: 'Montserrat', sans-serif; }

html { scroll-behavior: smooth; }

body{ font-size: 100%; }

a,
input,
button{
	&:focus{
		border: 0 !important;
		outline: none !important;
	}
}

.container {
	@media screen and (min-width: 1600px) {
		max-width: 1170px !important;
	}
}