//color pattern
$color-folk-black: #000;
$color-folk-white: #FFF;
$color-folk-white-op-1: rgba(255, 255, 255, .1);

$color-folk-aluminium: #828690;
$color-folk-light-aluminium: #B4B8C3;
$color-folk-dark-grayish-navy: #232733;
$color-folk-golden: #E9B53D;
$color-folk-light-gray: #F7F3EF;
$color-folk-bold-electric-blue: #0B2139;
$color-folk-extrabold-electric-blue: #151921;
$color-folk-medium-electric-blue: #255777;
$color-folk-squid-ink: #0B2139;

$color-folk-facebook: #1877F2;
$color-folk-instagram: #4C5fD7;
$color-folk-twitter: #1DA1F2;
$color-folk-youtube: #FF0000;
$color-folk-whatsapp: #25D366;
