$layout-name: 'l-banner-full';

.#{$layout-name} {
    &__title {
        font-size: 2.625rem;

        @media screen and (min-width: 1600px) {
            font-size: 3.75rem;
        }
        
        @media screen and (max-width: 991px) {
            font-size: 2rem;
        }
    }
}