$layout-name: 'l-special-content';

.#{$layout-name} {
    &__thumbnail {
        height: 270px !important;
    }
    
    &__title {
        font-size: 1.125rem;

        @media screen and (min-width: 1600px) {
            font-size: 1.5rem;
        }
    }
}