$utility-name: 'u-w';

.px\: {
    &#{$utility-name} {
        &-32 {
            width: 32px !important;
        }

        &-40 {
            width: 40px !important;
        }

        &-44 {
            width: 44px !important;
        }
    }
}